.home {
    background-image: url(../assets/images/home_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &__container {
        min-height: calc(100vh - 80px);
        scroll-behavior: smooth;
    }

    &__centered-content {
        @include centerer;
    }

    &__heading {
        font-size: 48px;
    }

    &__slogan {
        margin-bottom: 48px;
    }

    &__search {
        position: relative;
        margin-bottom: 115px;
    }

    input[type=text] {
        height: 60px;
        border: none;
        vertical-align: top;
        width: 650px;
        padding: 0 250px 0 100px;

        &::placeholder {
            letter-spacing: 0.2em;
            line-height: 1.45;
        }

        &:focus {
            padding: 0 206px 0 56px;
        }
    } 
    

    @media screen and (max-width: $breakpoint-down-sm){
        input[type=text] {
            width: 550px;
            padding: 0 206px 0 56px;
    
            &:focus {
                padding: 0 206px 0 56px;
            }
        }
    }

    @media screen and (max-width: $breakpoint-down-xs){

        &__container{
            min-height: calc(100vh - 60px);
        }

        input[type=text] {
            height: 37px;
            width: 300px;
            font-size: 12px;
            padding: 0 53px 0 16px;

            &::placeholder {
                letter-spacing: 0.15em;
                line-height: 1.45;
            }

            &:focus {
                padding: 0 53px 0 16px;
            }
        }

        button[type=submit] {
            width: 37px;
            min-height: 37px;

            span {
                display: none;
            }
    }

    }

}